.outer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.container {

  width: 75%;

  overflow: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  flex-basis: (100% / 3);
  width: (100% / 3);
  max-width: $max-content-width;

}
